<h1>{{title}}</h1>
<p>Bienvenido a la página principal. Visita <a href="{{url '/realtimeproducts'}}">/realtimeproducts</a> para ver los productos en tiempo real.</p>
<h2>Lista de Productos</h2>
<ul>
  {{#each products}}
    <li>{{this.name}} - Precio: {{this.price}}</li>
  {{/each}}
</ul>
